@import 'src/styles/variables.scss';

* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: #ffffff00 !important;
  -webkit-focus-ring-color: #ffffff00 !important;
  outline: none !important;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: $primary-color;
}

::-webkit-scrollbar-thumb:hover {
  background: $primary-color-hover;
}

::-moz-selection {
  color: white;
  background: $primary-color;
}

::selection {
  color: white;
  background: $primary-color;
}

.ngx-pagination .current {
  background: $primary-color!important;
}
