@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

$primary-color:#10172c;
$primary-color-hover: #1e2f57;
$navbar-height: 75px;
$soft-gray: #bbbbbb3d;
$font-family: 'Roboto', sans-serif;
$font-size: 16px;
$spacing-horizontal: 20px;
$spacing-vertical: 15px;
$transition-time: 350ms;

$grid-breakpoints: (
  xs: 0,
  sm: 500px,
  md: 800px,
  lg: 1000px,
  xl: 1024px
);
$container-max-widths: (
  sm: 500px,
  md: 800px,
  lg: 1000px,
  xl: 1024px
);
