$primary-color:#10172c;
$primary-color-hover: #1a2135;
$navbar-height: 75px;
$soft-gray: #bbbbbb3d;


$spacing-horizontal: 20px;
$transition-time: 350ms;

$grid-breakpoints: (
  xs: 0,
  sm: 500px,
  md: 800px,
  lg: 1000px,
  xl: 1024px
);
$container-max-widths: (
  sm: 500px,
  md: 800px,
  lg: 1000px,
  xl: 1024px
);
