@import "src/styles/variables.scss";

nav {
  display: flex;
  height: $navbar-height;
  align-items: center;
  a {
    cursor: pointer;
    margin-right: 20px;
    color: $primary-color;
    padding: 2px 0;
    border-top: 2px solid transparent;
    border-bottom: 2px solid transparent;
    transition: color $transition-time ease, border-bottom $transition-time ease;
    &:hover {
      color: $primary-color-hover;
      border-bottom: 2px solid $primary-color-hover;
    }
  }
}
