@import "/src/styles/variables.scss";
@import "/src/styles/helpers.scss";

#movie-preview {
  height: 100%;
  display: flex;
  flex-direction: column;
  #img {
    @extend .no-drag;
    height: 225px;
    background-color: rgb(231, 231, 231);
    border: 1px solid $primary-color;
    overflow: hidden;
    object-fit: cover;
    position: relative;
  }
  #content {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    color: $primary-color;
    flex-grow: 1;
    padding: $spacing-vertical $spacing-horizontal;
    min-height: 75px;
    border: 1px solid $primary-color;
    border-top: 0px;
  }
}
